<div class="main">
    <div class='flexWidth50'>
        <div class="box column1">
            <p>
                test
            </p>
        </div>
    </div>
    <div class="flexWidth50">
        <div class="box column2 row1">
            <p>
                test
            </p>
        </div>
        <div class="box column2 row2">
            <p>
                test
            </p>
        </div>
        <div class="box column2 row3">
            <p>
                test
            </p>
        </div>
    </div>
</div>