// Main SCSS fie No direct CSS to be put in here only @imports //
// Global

  /*####################
  ########Layout#######
  ####################*/
  
  .container {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .header {
    margin: 0 0 1em 0;
    padding: 1.5em;
    background-color: #eee;
  }
  
  .footer {
    margin: 2em 0 0 0;
    padding: 1.5em;
    background-color: #eee;
  
  }
// Pages
@import "./Pages/home.scss";

// Components

@import "./Components/misc.scss";
@import "./Components/nav.scss";
@import "./Components/responsive.scss";
@import "./Components/screenreader.scss";
@import "./Components/typegraphy.scss";
@import "./Components/flipBook.scss";

// Icons
$fa-css-prefix: "fa";
@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/core";
@import "~font-awesome/scss/icons";

