<div class="primary-nav">

    <button href="#" class="hamburger open-panel nav-toggle">
        <span class="screen-reader-text">Menu</span>
    </button>

    <nav role="navigation" class="menu">



        <a href="/home" class="logotype"><img id="navIcon" alt="nat1" height="75px" width="75px"></a>

        <div class="overflow-container">

            <ul class="menu-dropdown">

                <li>
                    <a href="/" aria-controls="pageHome">Home</a>
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                </li>

                <li class="menu-hasdropdown">
                    <a href="/characters" aria-controls="pageCharacters">Characters</a>
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>

                    <label title="toggle menu" for="character">
                        <span class="downarrow">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </label>
                    <input type="checkbox" class="sub-menu-checkbox" id="character" />

                    <ul class="sub-menu-dropdown">
                        <li>
                            <a href="/characters/quickReferenaceGuides" aria-controls="pageQuickReferenceGuides">Quick Reference Guides</a>
                        </li>
                        <li>
                            <a href="/characters/spells" aria-controls="pageSpells">Spells</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-hasdropdown">
                    <a href="/rules" aria-controls="pageRules">Rules</a>
                    <span class="icon">
                        <i class="fas fa-scroll"></i>
                    </span>

                    <label title="toggle menu" for="rules">
                        <span class="downarrow">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </label>
                    <input type="checkbox" class="sub-menu-checkbox" id="rules" />

                    <ul class="sub-menu-dropdown">
                        <li>
                            <a href="/rules/playerHandbook" aria-controls="pagePlayerHandbook">Player Handbook</a>
                        </li>
                        <li>
                            <a href="/rules/dungeonMasterHandbook" aria-controls="pageDungeonMasterHandbook">Dungeon Master Handbook</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/characterCreation" aria-controls="pageCharacterCreation">Character Creation</a>
                    <span class="icon">
                        <i class="fa fa-user-cog"></i>
                    </span>
                </li>

            </ul>

        </div>

    </nav>

</div>