/*####################
  ##Extra##
  ####################*/

/* look and feel only, not needed for core menu*/

@-webkit-keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }

  50% {
    display: block;
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }

  50% {
    display: block;
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/*####################
  ##Hover##
  ####################*/

.hoverOpacityHalf {
  opacity: 0.5;
}

.hoverOpacityFull {
  opacity: 1;
}