/*####################
  ##Menu Styles##
  ####################*/

.primary-nav {
  position: fixed;
  z-index: 999;
}

.menu {
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.open-panel {
  padding: 0;
  border: 0;
  background-color: #fff;
}

.hamburger {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 73px;
  padding: 13px 0;
  background: #fff;
  text-align: center;
  z-index: 1000;
  cursor: pointer;

  &:before {
    display: block;
    content: "\2630";
    /* hamburger icon */
    color: #000;
    line-height: 32px;
    font-size: 16px;
  }
}

.openNav .hamburger:before {
  display: block;
  content: "\2715";
  /* close icon */
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.hamburger:hover:before {
  color: #777;
}

.primary-nav .menu li {
  position: relative;
}

.menu {
  .icon {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    color: #fff;
  }

  position: relative;
  color: #aaa;
  text-decoration: none !important;

  a {
    position: relative;
    display: block;
    padding: 1em;
    color: #aaa;
    text-decoration: none !important;
    white-space: nowrap;
    font-size: 14px;

    &:visited {
      position: relative;
      color: #aaa;
      text-decoration: none !important;
    }

    &:hover {
      color: #fff;
    }
  }

  margin-bottom: 3em;
}

.menu-dropdown li {
  .icon {
    color: #777;
  }

  &:hover .icon {
    color: #fff;
  }
}

.menu {
  label {
    display: block;
    margin-bottom: 0;

    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
}

input.menu[type="checkbox"],
.sub-menu-dropdown {
  display: none;
}

.new-wrapper {
  position: absolute;
  left: 48px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu:checked+ul.menu-dropdown {
  left: 0;
  -webkit-animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked+ul.sub-menu-dropdown {
  display: block !important;
  -webkit-animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.openNav .new-wrapper {
  position: absolute;
  width: calc(100% - 250px);
  transform: translate3d(200px, 0, 0);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.downarrow {
  position: absolute;
  top: 12px;
  right: 50px;
  display: block;
  width: 24px;
  height: 24px;
  background: transparent;
  color: #777;
  text-align: center;

  &:hover {
    color: #fff;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: -210px;
  display: block;
  width: 250px;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #000;
  z-index: 999;
}

.menu-dropdown {
  top: 0;
  overflow-y: auto;
}

.overflow-container {
  position: relative;
  display: block;
  height: calc(100vh - 73px) !important;
  overflow-y: auto;
  border-top: 73px solid #fff;
  z-index: -1;
}

.menu a.logotype {
  position: absolute !important;
  top: 11px;
  left: 55px;
  display: block;
  padding: 10px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
  font-size: 21px;

  span {
    font-weight: 400;
  }

  &:hover {
    color: #777;
  }
}

.sub-menu-dropdown {
  background-color: #333;
}

.menu:hover {
  position: absolute;
  top: 0;
  left: -10px;
}

.openNav .menu {
  &:hover {
    position: absolute;
    left: -210px;
  }
  transform: translate3d(200px, 0, 0);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

/* label.hamburger {
          display: none;
      } */