/*####################
##Screen Readers##
####################*/

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;

  &:focus {
    top: 5px;
    left: 5px;
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    color: #21759b;
    border-radius: 3px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    z-index: 100000;
    /* Above WP toolbar. */
  }
}