/*####################
##Responsive Typegraphy##
####################*/

body,
button,
input,
select,
optgroup,
textarea {
    color: #000;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 800;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    padding: 1.6em;
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

.light {
    color: #ddd;
}

strong {
    font-weight: 600;
}

cite,
em,
i {
    font-style: italic;
}

p {
    &.big {
        font-size: 140%;
        line-height: 1.3em;
    }

    &.small {
        font-size: 80%;
    }
}

blockquote {
    position: relative;
    display: block;
    margin: 1em 20px;
    padding: 0 1em;

    cite,
    em,
    i {
        font-style: italic;
    }
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

sup,
sub {
    position: relative;
    height: 0;
    line-height: 1;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

p {
    margin: 0 0 2em 0;
    font-size: 1em;
}

article:last-of-type {
    margin-bottom: 0;
}

p {
    &:last-of-type {
        margin-bottom: 0;
    }

    &.intro {
        margin: 0 0 1.5em 0;
        font-size: 1.25em;
        line-height: 1.5;
        font-weight: 300;
    }
}

h1,
h2 {
    letter-spacing: -1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    margin: 0 0 0.5em 0;
    line-height: 1.1;
}

h1,
.h1 {
    font-size: 2.074em;
}

h2,
.h2 {
    font-size: 1.728em;
}

h3,
.h3 {
    font-size: 1.44em;
}

h4,
.h4 {
    font-size: 1.2em;
}