{{!-- <div class="flipbook">
    <div class="flipbook__hard"> Turn.js </div> 
    <div class="flipbook__hard"></div>
    <div><img src="../../../assets/img/img587.jpg" alt=""></div>
    <div> Page 2 </div>
    <div> Page 3 </div>
    <div> Page 4 </div>
    <div class="flipbook__hard"></div>
    <div class="flipbook__hard"></div>
</div> --}}

<iframe style="width:-webkit-fill-available;height:-webkit-fill-available" src="http://online.anyflip.com/ofsj/cxmj/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>