<div class="main">
    <div class='flexWidth50'>
        <a href="/rules/playerHandbook">
            <div class="box column1 playerHandbook">
            </div>
        </a>
    </div>
    <div class="flexWidth50">
        <div class="box column1 dungeonMasterHandbook">
            <a href="/rules/dungeonMasterHandbook">
            </a>
        </div>
    </div>
</div>