  .main {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
  }

  .flexWidth50 {
    width: 50%;
  }

  .box {
    min-width: 2.5rem;
    min-height: 2.5rem;

    &.column1 {
      height: 100%;
      &.playerHandbook {
        background-image: url("https://images-na.ssl-images-amazon.com/images/I/81pViXqeVLL.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &.dungeonMasterHandbook {
        background-image: url("http://online.anyflip.com/ofsj/axvy/files/mobile/1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    &.column2 {
      height: 33.33%;

      &.row1 {
        background-color: blue;
      }

      &.row2 {
        background-color: green;
      }

      &.row3 {
        background-color: yellow;
      }
    }

    p {
      position: relative;
      top: 50%;
      text-align: center;
      font-size: 1rem;

      &:after {
        position: relative;
        display: block;
        width: 30%;
        height: 1px;
        margin: 6px auto;
        content: "";
        background: white;
      }
    }
  }