<body class="body">

<div class="navPages">
    <div class="js-page-content" id="pageHome" style="display: block">
      {{> Pages/home}}
    </div>
    <div class="js-page-content" id="pageCharacters" style="display: none">
      {{> Pages/Characters/characters}}
    </div>
    <div class="js-page-content" id="pageQuickReferenceGuides" style="display: none">
      {{> Pages/Characters/QuickReferenceGuides}}
    </div>
    <div class="js-page-content" id="pageSpells" style="display: none">
      {{> Pages/Characters/spells}}
    </div>
    <div class="js-page-content" id="pageRules" style="display: none">
      {{> Pages/Rules/rules}}
    </div>
    <div class="js-page-content" id="pageDungeonMasterHandbook" style="display: none">
      {{> Pages/Rules/dungeonMasterHandbook}}
    </div>
    <div class="js-page-content" id="pagePlayerHandbook" style="display: none">
      {{> Pages/Rules/playerHandbook}}
    </div>
    <div class="js-page-content" id="pageCharacterCreation" style="display: none">
      {{> Pages/characterCreation}}
    </div>
</div>

</body>